<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="schunk_robot" >

  <!-- common stuff -->
  <xacro:include filename="$(find schunk_description)/urdf/common/common.urdf.xacro" />
  <!-- schunk lwa -->
  <xacro:include filename="$(find schunk_description)/urdf/lwa/macro_lwa.urdf.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/sdh/macro_sdh.urdf.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/c320/macro_c320.urdf.xacro" />

  <link name="world"/>

  <xacro:schunk_c320 parent="world"/>
	<!-- cabinet door -->
  <!-- arm -->
  <xacro:schunk_lwa name="arm" parent="c320">
     <origin xyz="0.0 0.0 0.5" rpy="0 0 -3.1415926 " /> 
  </xacro:schunk_lwa>

  <!-- sdh -->
  <xacro:schunk_sdh name="sdh" parent="arm_force_sensor">
     <origin xyz="0 0 0.0692" rpy="0 0 3.1415926 "/> 
  </xacro:schunk_sdh> 

</robot>
